.mainheader
  .mainheader__left
    .mainheader__left__text
      = @group.name
    .mainheader__left__box
      .mainheader__left__members
        member:
      .mainheader__left__members-member
        - @group.users.each do |user|
          =user.name
  = link_to edit_group_path(@group) do
    .main-header-btn-edit
      Edit

.messages
  = render @messages 

.form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'input-box__image' do
        = icon('far', 'image', class: 'icon')
        = f.file_field :image, class: 'input-box__image__file'
    = f.submit 'Send', class: 'submit-btn'